<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif+KR:300&amp;subset=korean" rel="stylesheet">
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
</head>
<body>
    <header>
        <a href="/">Ryun</a>
    </header>
    <hr class="title">
    <section>
        {{ content }}
    </section>
</body>
</html>