<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif+KR:300&amp;subset=korean" rel="stylesheet">
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
</head>
<body>
    <header>
        <a href="/">Ryun</a>
        <div class="progress-container">
            <div id="reading-scroll"></div>
        </div> 
    </header>

    <section>

        {{ content }}
    </section>
</body>

<script>
window.onscroll = function() {updateScroll()};

function updateScroll() {
  var winScroll = document.body.scrollTop || document.documentElement.scrollTop;
  var height = document.documentElement.scrollHeight - document.documentElement.clientHeight;
  var scrolled = (winScroll / height) * 100;
  document.getElementById("reading-scroll").style.width = scrolled + "%";
}
</script>
</html>